@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@import './theme.css';

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-light: #e5e7eb;
  --color-dark: #1e2939;
  --font-outfit: 'Outfit', sans-serif;

  --text-system: 14px;
}

@layer base {
  html {
    @apply font-outfit font-[300];
  }
}
* {
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}


button {
  @apply cursor-pointer;
}
