:root {
  --color-primary: rgb(59 130 246);
  --color-primary-foreground: rgb(255 255 255);

  /* Backgrounds */
  --background: rgb(255 255 255);
  --surface: rgb(248 250 252);
  --surface-hover: rgb(241 245 249);

  /* Text */
  --foreground: rgb(15 23 42);
  --muted-foreground: rgb(100 116 139);

  /* Borders */
  --border: rgb(219, 219, 219);
}

.dark {
  /* Brand */
  --primary: rgb(96 165 250);
  --primary-foreground: rgb(2 6 23);

  /* Backgrounds */
  --background: oklch(0.129 0.042 264.695);
  --surface: rgb(30 41 59);
  --surface-hover: rgb(51 65 85);

  /* Text */
  --foreground: oklch(0.984 0.003 247.858);
  --muted-foreground: rgb(148 163 184);

  /* Borders */
  --border: rgb(71 85 105);
}
